.cybersecurity__green-border {
    width: 16px;
    height: 96px;
    border-left: 2px solid #23D1AE;
    border-top: 2px solid #23D1AE;
    border-bottom: 2px solid #23D1AE;
    margin: 0 20px 0 32px;
}